.g-padding__yy-3.g-padding__lg-yy-5
	.g-container
		h2 Close-in:
		.g-row
			.g-cols__xs-12.g-cols__lg-9
				- let i = 1
				each event in events_list
					.b-event
						span.b-event_number= i
						// info sidebar
						.info-click.g-hidden__md-down(onclick="document.querySelector('.b-info-sidebar').classList.add('active');")
						span.b-event_date: strong= event.date
						span.b-event_icon: svg.rage: use(xlink:href="#rage-map-point")
						h5.b-event_title.b-title__double-line
							span.small.text.g-text__gray= event.country
							span.span.text= event.city
						span.b-event_type= event.type
						span.b-event_cost= event.cost
						div: a.g-button.g-button__white(href="#")
							| Book ticket
							svg.rage.g-margin__left-1: use(xlink:href="#rage-ticket")
					- i++
			aside.g-cols__xs-12.g-cols__lg-3(style="overflow:hidden;")
				.b-info-sidebar.g-hidden__md-down
					.close(role="button" onclick="this.parentElement.classList.remove('active');"): svg.rage: use(xlink:href="#rage-close")
					h4.b-title__double-line
						span.small.text.g-text__gray= events_list[0].country
						span.span.text= events_list[0].city
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
					p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.
					p
						svg.rage: use(xlink:href="#rage-hand-watches")
						small: strong= events_list[0].fulldate
					a.g-button.g-button__primary(href="#")
						| Book ticket
						svg.rage.g-margin__left-1: use(xlink:href="#rage-ticket")